@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(180deg, #B068E9, #6463E7);
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  background-color: white;
  min-height: 509px;
  width: 920px;
  border-radius: 23px;
}

.background-image {
  position: relative;
}

.background-image > img{
  position: absolute; 
  left: -18px;
  top: 63px;
  opacity: 0.5;
}

.front-image {
  position: relative;
}

.front-image > img {
  position: absolute;
  z-index: 2;
  left: -93px;
  top: 185px;
}

.img-section {
  position: relative;
  min-height: 509px;
  width: 475px;
  overflow: hidden;
}

.img-section > img {
  position: absolute;
  height: 359px;
  width: 472px;
  left: -75px;
  top: 59px;
}

.info-section {
  width: 444px;
  min-height: 509px;
}

.info-section > .title > h1 {
  margin-top: 65px;
  margin-bottom: 37px;
  font-size: 32px;
}

.list {
  margin-bottom: 83px;
}

.list > .accordion-item {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 350px;
  border-bottom: 1px solid #E8E8EA;
}

.questions {
  display: flex;
  justify-content: space-between;
  color: #4B4C5F;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 16px;
}

.questions > p {
  margin: 0px 0px 11px 0px;
}

.questions:hover {
  cursor: pointer;
  color: #F47B56;
  transition: all ease .3s;
}

.response {
  color: #787887;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.response > p {
  margin: 0px 0px 16px 0px;
}

.question-bold {
  color: #1E1F36;
  font-weight: 700;
  font-size: 15px;
}

.hidden {
  display: none;
}
.rotate {
  transition: all ease .2s;
  transform: rotate(180deg);
  margin-bottom: 11px;
}
.icon > img {
  height: 8px;
  width: 10px;
}
.mobile-background-image {
  display: none;
}


@media screen and (max-width: 1050px) {

  body {
    background-color: #1E1F36;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    overflow-y: auto;
    
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: calc(80vh - 500px);
    position: relative;
    min-height: 535px;
    width: 327px;
    border-radius: 23px;
    margin-bottom: 85px;
    
  }

  .mobile-background-image {
    display: block;
  }
  .mobile-background-image > img {
    opacity: 0.5;
  }
  .mobile-img-section > img {
    
    position: absolute;
    
    width: 237px;
    height: 180px;
    left: 43px;
    top: -107px;
  }
  .info-section {
    min-height: 355px;
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px 48px 24px;
  }
  .info-section > .title > h1 {
    margin: 20px auto 40px auto;
    font-size: 32px;
    
    
  }
  .list { 
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list > .accordion-item {
    
    min-height: 35px;
    width: 279px;
  }
  .questions {
    font-size: 13px;
  }
  .response {
    font-size: 12px;
  }
  .img-section {
    display: none;
  }
  .background-image {
    display: none;
  }
  .front-image {
    display: none;
  }
}



